.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.input {
  margin-top: 50px;
  border-radius: 5px;
  border: 0.5px solid black;
  color: rgb(15, 15, 15);
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 50px;
  padding: 8px 16px;
  font-size: 32px;
}

.button {
  cursor: pointer;
  border: none;
  background: black;
  color: white;
  font-size: 20px;
  border-radius: 16px;
  padding: 8px 16px;
}
