.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.input {
  margin-top: 50px;
  border-radius: 5px;
  border: 0.5px solid black;
  color: rgb(15, 15, 15);
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 50px;
  padding: 8px 16px;
  font-size: 32px;
}

.button {
  cursor: pointer;
  border: none;
  background: black;
  color: white;
  font-size: 20px;
  border-radius: 16px;
  padding: 8px 16px;
  transition: all 0.1s ease-out;
  box-shadow: 0 4px 6px rgba(68, 65, 65, 0.1);
}

.button:hover {
  color: #e0e0e0;
}
.button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #141414;
}

@media (max-width: 412px) {
  .input {
    margin-top: 30px;
    width: 340px;
    height: 40px;
  }
}
