.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.history {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
a {
  color: black;
}


