.button {
  margin: 20px auto;
  display: block;
  cursor: pointer;
  background-color: #fff;
  border-radius: 12px;
  padding: 5px 16px;
  color: darkblue;
  transition: all 0.1s ease-out;
  box-shadow: 0 4px 6px rgba(226, 226, 226, 0.1);
}

.button:hover {
  color: blue;
}
.button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #e0e0e0;
}
