.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.result {
  font-size: 20px;
  margin-bottom: 30px;
}

.result a {
  cursor: pointer;
}

.title {
  margin-top: 50px;
  color: darkblue;
}
